/* BASIC RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
.main-header {
    width: 100%;
    background: #ffffff;
    border-bottom: 2px solid #eee;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-section img {
    width: 55px;
    margin-right: 10px;
}

.logo-section h1 {
    font-size: 22px;
    font-weight: bold;
    color: #222;
}

.navbar a {
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #444;
    font-weight: 600;
}

.navbar a:hover {
    color: #ff9900;
}

/* FIXED BANNER */
.top-banner {
    width: 100%;
    height: 210px;
    overflow: hidden;
}

.top-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
